.container {
	margin-top: 35px;
}

header {
	background-color: gray;
	background-color: #f5f5f5;
    padding: 20px 15px;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,0.2);
    position: relative;
    z-index: 99;
    display: flex;
    align-items: center;

    h1,h2,h3,h3,h5 {
    	margin: 0;
    }

    a {
    	color: $text-color;
    }
}

.hamburger-button {
	@include square(30px);
	display: block;
	border: none;
	background: none;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(../graphics/hamburger.svg);
	outline: none;
	margin-right: 15px;

	@media (min-width: $screen-sm-min) {
		display: none;
	}
}

.layout-wrapper {
	@media (min-width: $screen-sm-min) {
		position: relative;
		display: flex;
	}

	&.layout-fixed {
		@include square(100%)
		position: fixed;

		@media (min-width: $screen-sm-min) {
			position: relative;
		}
	}

	.layout-navbar {
		position: absolute;
		height: calc(100% - 70px);

		@media (min-width: $screen-sm-min) {
			@include square(auto);
			position: relative;
		}

		&.is-open {
			width: 100%;
			@media (min-width: $screen-sm-min) {
				width: auto;
			}

			.nav {
				left: 0;
			}

			.layout-overlay {
				display: block;
				animation: fadeInFromNone 0.4s ease-out;

				@media (min-width: $screen-sm-min) {
					display: none;
				}
			}
		}

		.nav {
			width: 200px;
			position: absolute;
			left: -200px;
			top: 0;
			background: #ffffff;
			height: 100%;
			z-index: 9;
			margin: 0;
			transition: left 0.2s linear;
			padding-top: 10px;

			@media (min-width: $screen-sm-min) {
				position: relative;
				top: 0;
				left: 0;
				height: auto;
			}
		}

		.layout-overlay {
			@include square(100%);
			position: absolute;
			z-index: 8;
			background-color: rgba(0,0,0,0.4);
			display: none;

			@media (min-width: $screen-sm-min) {
				display: none;
			}

			@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}
		}

		li {
			&.active {
				a {
					border-radius: 0;
				}
			}
		}
	}
}