.users-container {
	.single-user {
		text-align: center;
		margin-bottom: 30px;

		img {
			width: 100%;
			border-radius: 50%;
		}

		.single-user-data-wrapper {
			margin-bottom: 5px;

			span {
				display: block;

				&:first-child {
					font-weight: 700;
				}
			}
		}
	}
}