.spinner {
	@include square(100%);
	background-color: #ffffff;
	position: absolute;
	display: none;
	text-align: center;
	left: 0;

	&.is-visible {
		display: block;
	}

	span {
		display: block;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
}